@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #3211d4;
  --color-primary-hover: #280db0;
  --color-bg-dark: #0d0c13;
  --color-surface-dark: #181625;
  --color-border-dark: #2b2839;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, Georgia, serif;
}

body {
  @apply bg-bg-dark text-slate-100 font-sans antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-border-dark rounded-full;
}
